Button, ChoiceBox {
    -fx-cursor: hand;
}

.main {
    -fx-background-color: #302e2b;
    -fx-padding: 5px 0 5px 5px;
}

.nickname {
    -fx-text-fill: #fff;
    -fx-padding: 5px 10px;
    -fx-font-weight: 900;
    -fx-font-size: 1em;
}

.profile-picture {
    -fx-border-radius: 10px;
}

.timer {
    -fx-text-fill: #ccc;
    -fx-background-color: #2f2d2a;
    -fx-padding: 0 10px 0 50px;
    -fx-font-size: 3em;
    -fx-alignment: CENTER_RIGHT;
    -fx-background-radius: 5px;
}

.timer2 {
    -fx-text-fill: #555;
    -fx-background-color: #989795;
    -fx-padding: 0 10px 0 50px;
    -fx-font-size: 3em;
    -fx-alignment: CENTER_RIGHT;
    -fx-background-radius: 5px;
}

.settings {
    -fx-max-width: 1px;
}

.menuRight {
    -fx-min-width: 133.333333333px;
    -fx-alignment: CENTER;
    -fx-background-color: #21201d;
    -fx-padding: 15px;
}

.menuRightActual {
    -fx-min-width: 133.333333333px;
    -fx-alignment: CENTER;
    -fx-background-color: #262522;
    -fx-padding: 15px;
}

.firstMenuRight {
    -fx-background-radius: 10px 0 0 0;
}

.menuRight:hover, .menuRightActual:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

.labelRight {
    -fx-text-fill: #fff;
    -fx-padding: 5px;
}

.boxRight {
    -fx-min-width: 400px;
    -fx-min-height: 635px;
    -fx-background-color: #262522;
    -fx-alignment: CENTER;
    -fx-spacing: 20;
    -fx-padding: 20px;
}

.buttonPlay {
    -fx-background-color: #81b64c;
    -fx-padding: 15px 120px;
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-font-size: 2em;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #45753c, 0, 0, 0, 5);
}

.buttonTournoi {
    -fx-background-color: #1e1e1b;
    -fx-padding: 20px 70px;
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-font-size: 2em;
    -fx-background-radius: 5px;
    -fx-spacing: 10;
}

.choiceBox {
    -fx-background-color: #3c3b39;
    -fx-padding: 15px 103px;
    -fx-font-weight: 900;
    -fx-font-size: 1.3em;
    -fx-background-radius: 10px;
}

.choice-box {
    -fx-mark-color: #81b64c;
}

.choice-box .label {
    -fx-text-fill: #fff;
}

.choice-box .context-menu {
    -fx-background-color: #3c3b39;
}

.choice-box .menu-item:focused {
    -fx-background-color: #81b64c;
}

.list-cell {
    -fx-text-fill: #555;
}

.imageTournoi {
    -fx-padding: 50px;
}

.playing, .games {
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
    -fx-padding: 5px 5px 5px 25px;
}

.secondary {
    -fx-text-fill: #ccc;
    -fx-padding: 5px 10px 5px 0;
}

.newButtons {
    -fx-max-width: 300px;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.prenomLabel, .nomLabel {
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
}

.prenom, .nom {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-padding: 5px;
    -fx-border-color: #888;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.valid {
    -fx-background-color: #81b64c;
    -fx-padding: 5px 50px;
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-font-size: 1.5em;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #45753c, 0, 0, 0, 5);
}

.againstBot {
    -fx-background-color: #e87f1a;
    -fx-padding: 5px 50px;
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-font-size: 1.5em;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, #a86a27, 0, 0, 0, 5);
}

.chess-pane-1 {
    -fx-background-color: rgb(115,149,82);
    -fx-min-width: 75px;
    -fx-min-height: 75px;
}

.chess-pane-2 {
    -fx-background-color: rgb(235,236,208);
    -fx-min-width: 75px;
    -fx-min-height: 75px;
}

.selectedCell {
    -fx-background-color: #f5f682;
}

.movable {
    -fx-border-color: #FE8F01;
    -fx-border-style: dashed;
    -fx-border-width: 5px;
}

.killable {
    -fx-border-color: #F06969;
    -fx-border-style: dashed;
    -fx-border-width: 5px;
}

.centeredBox {
    -fx-alignment: CENTER;
    -fx-padding: 10px 25px;
    -fx-background-color: #302e2b;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    visibility: hidden;
    -fx-max-height: 80px;
    -fx-max-width: 400px;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.centeredLabel {
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-font-size: 1.2em;
    -fx-text-alignment: CENTER;
    -fx-min-height: 50px;
}

.visible {
    visibility: visible;
}

.closePopup {
    -fx-background-color: #F06969;
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-padding: 5px 10px;
}

.rematch {
    -fx-background-color: #81b64c;
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-padding: 5px 10px;
}

.popupSuivant {
    -fx-background-color: #f17810;
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-padding: 5px 10px;
}

.bottomButtons {
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

.playerInList {
    -fx-alignment: CENTER;
    -fx-min-width: 355px;
    -fx-spacing: 1;
    -fx-background-color: #3b3a35;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

.playerInList Label {
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-min-width: 115px;
}

.gameInList {
    -fx-alignment: CENTER;
    -fx-min-width: 355px;
    -fx-spacing: 1;
    -fx-background-color: #3b3a35;
    -fx-padding: 10px 10px;
    -fx-background-radius: 10px;
}

.gameInList Label {
    -fx-text-fill: #fff;
    -fx-font-weight: 900;
    -fx-min-width: 50px;
}

.stat {
    -fx-min-width: 20px;
}